/* custome css */

.message {
  position: relative;
}

.message:after {
  content: "";
  top: 0;
  position: absolute;
  border: 0.75em solid transparent;
  border-top-color: blue;
  display: block;
}

.message.assistant:after {
  left: -0.45em;
  border-top-color: inherit;
}

.message.user:after {
  right: -0.45em;
  border-top-color: inherit;
}

.type-indicator span {
  display: inline-block;
  padding: 0 0.075em;
  animation: type-indicator 1s ease-in-out infinite;
  transform: translateY(0);
}

.type-indicator span:nth-child(2) {
  animation-delay: 150ms;
}

.type-indicator span:nth-child(3) {
  animation-delay: 300ms;
}

@keyframes type-indicator {
  0% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
  50% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
}

.blink {
  animation: blink 1.25s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  69% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
